body,div,p{
	font-family: 'Open Sans';
	color:#383838;
	font-size:18px;
}
h1,h2,h3{font-family:Montserrat;}
h1,h3{font-weight:bold;}
h2{font-weight:600;font-size:32px;}
header{
	background:#4c5eab;
	padding:85px 5px 120px;
	color:white;
	h1,p{color:white;}
}
.header{
	display:flex;
	margin:auto;
	align-items:center;
	max-width:1170px;
	flex-wrap:wrap;	
}
.header_photo{
	background: #d9d9d7;
	width: 260px;
	height: 260px;
	border-radius: 50%;
}
.header_fullname{
	flex-basis:45%;
	padding-left:50px;
	h1{font-size:50px;margin:5px 0;}
	p{font-size:32px;font-weight:600;margin:5px 0;}
}
.header_contacts{flex-basis:25%;
	p{font-size:20px;margin:10px 0px; line-height:30px;
		i{margin:5px 20px 0px 0;float:left;}
		&:first-child i{margin:5px 20px 30px 0;}
	}
}
.content{margin-top:-20px;display:flex;
	.left-side_content-items{flex-basis:32%;}
	.right-side_content-items{flex-basis:68%;}
	h2::before{
		content:"\f0b1";
		font-size:18px;
		padding:12px 14px;
		display:inline-block;
		background:#4c5eab;
		color:white;
		border-radius:50%;
		margin:0 15px 0 0;
		font-family:"Font Awesome 5 Free";
	}
}
.left-side_content-items{
	background:linear-gradient(to right, #fff, #fafafa);
	i{color:#4c5eab;}
	.left-side_content_item{padding:10px 10px 10px 40px;}
	.projects{padding-left:0px;}
	.projects_item{
		list-style:none;
		display:table;
		margin-top:-2px;
		div{display:inline-block;}
		a{margin-left:20px;color:#4c5eab;text-decoration:none;}
		p{
			border-left: 2px solid #999695;
			margin: 0;
			padding: 0px 0px 0 30px;
			margin-left: -16px;
			line-height:1.5;
		}
		p:last-child::after{
			content: " \00A0";
			line-height:30px;
		}
	}
	.projects_item::before{
		content: "\00B0"; 
		vertical-align: middle;
		display: table-cell;
		font-size: 72px;
		color: #999695;
		font-weight: lighter;
	}
	.projects_item:first-child{
		div{
			p:first-child{border-left:none;}
		}
	}
	.projects_item:last-child{
		p:last-child{border-left:none;}
	}
	.interests_wrap{
		display:flex;
		justify-content: space-around;
		i{
			font-size: 25px;
			padding: 16px 15px 12px;
			border: 2px solid #4c5eab;
			border-radius:50%;
			text-align:center;
			width:30px;
			height:30px;
		}
	}
}
.right-side_content-items{
	background:white;
	.right-side_content_item{
		padding:10px 10px 10px 40px;
		.skils{display:flex;flex-wrap:wrap;}
		.skil_wrap{
			flex-basis:25%;
			text-align:center;
			p{font-size:30px;margin:0;}
		}
		&:nth-child(2){
			h2::before{content:"\f0f2";}
		}
		&:last-child{
			h2::before{content:"\f080";}
		}
	}
	.posts{padding-left:0px;margin-bottom:0;}
	.post_item{
		list-style:none;
		display:table;
		margin-top:-2px;
		align-items:center;
		.row-wrap{
			display:inline-flex;
			div:first-child{flex-basis:40%;}
			div:last-child{flex-basis:60%;
				p{border-left:none;}
			}
		}
		a{
			margin-left:20px;
			color:#4c5eab;
			text-decoration:none;
		}
		p{
			border-left: 2px solid #999695;
			margin: 0;
			padding: 0px 0px 0 30px;
			margin-left: -16px;
			line-height:1.5;
		}
		p:last-child::after{content: " \00A0";line-height:30px;}
		.project-link{border-left:none;color:#4c5eab;}
	}
	.post_item::before{
		content: "\00B0"; 
		vertical-align: middle;
		display: table-cell;
		font-size: 72px;
		color: #999695;
		font-weight: lighter;
	}
	.post_item:first-child{
		div{
			p:first-child{border-left:none;}
		}
	}
	.post_item:last-child{
		p:last-child{border-left:none;}
	}
}
footer{margin:50px 0;}
@media (max-width: 1190px) and (min-width: 992px) {
	body,div,p{font-size:16px;}
	.header_photo{width:200px;height:200px;}
	.content{
		.left-side_content-items{flex-basis:37%;}
		.right-side_content-items{flex-basis:63%;}		
	}
	.interests_wrap{justify-content: space-between;}
}
@media (max-width: 991px) and (min-width: 768px) {
	header{
		padding:85px 5px 20px;
	}
	.header_photo{width:200px;height:200px;}
	.header_fullname{
		flex-basis:auto;
		h1{font-size:40px;}
	}
	.header_contacts{flex-basis:100%;text-align:center;
		p{
			i{float:none;}
			&:first-child i{margin:5px 20px 0px 0;}
		}
	}
	.content{flex-wrap:wrap;
		.left-side_content-items{flex-basis:100%;}
		.right-side_content-items{flex-basis:100%;}		
	}
}	
@media (max-width: 767px) {
	body,div,p{font-size:16px;}
	h2{text-align:center;font-size:24px;}
	header{
		padding:20px 5px 20px;
	}
	.header_photo{width:200px;height:200px;margin:auto;}
	.header_fullname{
		flex-basis:auto;
		text-align:center;
		padding-left: 0px;
		h1{font-size:40px;}
	}
	.header_contacts{flex-basis:100%;text-align:center;
		p{
			i{float:none;}
			&:first-child i{margin:5px 20px 0px 0;}
		}
	}
	.content{flex-wrap:wrap;
		.left-side_content-items{flex-basis:100%;
			.left-side_content_item{padding:10px 0;
				&:first-child{padding:10px 20px};
				&:last-child{padding:10px 20px};
			}
		}
		.interests_wrap{justify-content: space-between;}
		.right-side_content-items{flex-basis:100%;
			.post_item{
				.row-wrap{flex-wrap:wrap;
					div:first-child{flex-basis:100%;
						p{font-weight:bold;
							&:last-child{display:none;}
						}
					}
					div:last-child{flex-basis:100%;}
					p{border-left:none;}
			}
				p{border-left:none;padding:5px 0;}
			}
			.post_item::before{
				display:none;
			}
			.right-side_content_item{padding:10px 10px 10px 20px;
				.skil_wrap{flex-basis:100%;
							text-align:center;
					canvas{display: inline;float: right;}
					p{display: inline;float: left;line-height: 170px;font-size:14px;}
				}
			}
			
		}		
	}
}	